/* Carousel base class */
.carousel {
  margin-bottom: $line-height-computed;

  .carousel-caption {
    bottom: 25%;
    color: $text-color;
    font-size: $font-size-large;
    font-weight: lighter;
    text-align: left;
    text-decoration: none;
    text-shadow: none;

    &.carousel-caption-left {
      left: 15%;
      right: auto;
    }

    &.carousel-caption-right {
      left: auto;
      right: 10%;
    }

    pre {
      background-color: transparent;
      border: none;
      color: $gray-lighterer;
      font-family: inherit;
      font-size: inherit;
      margin: 0;
      padding: 0;
    }

    span {
      display: block;
      margin-top: $line-height-computed;
      text-align: right;
    }
  }

  /* Declare heights because of positioning of img element */
  .item {
    height: 400px;
    background-color: #777;
  }

  .carousel-inner > .item > img {
    left: -9999px;  /*important */
    right: -9999px;  /*important */
    margin: 0 auto;  /*important */
    max-width: none;  /*important */
    min-width: 100%;
    position: absolute;
  }
}

