.separator-bottom {
  border-bottom: 1px solid #efefef;
  margin-bottom: 20px;
  padding-bottom: $line-height-computed;

}

.separator-bottom-no-margin {
  @extend .separator-bottom;
  margin-bottom: 0;
}
