.main {
  background-image: url('../images/ficus_religiosa.jpg');
  background-position: center top;
  background-width: 1920px;
  background-repeat: no-repeat;
  padding-bottom: $line-height-computed * 2;
}
