svg {
  &.icon, &.icon-large {
    vertical-align: bottom;
  }

  &.icon {
    height: $icon-size-base;
    position: relative;
    top: -4px;
    width: $icon-size-base;
  }

  &.icon-large {
    height: $icon-size-large;
    width: $icon-size-large;
  }
}
