.navbar {
	border: none;
	border-radius: 0;

	&.navbar-default {
		box-shadow: none;

		.navbar-brand {
			font-family: $navbar-brand-font;
			font-size: $navbar-brand-font-size;
      font-weight: 200;
      line-height: $navbar-brand-font-size;
      padding-bottom: $navbar-brand-padding-vertical;
      padding-top: $navbar-brand-padding-vertical;

      img {
        display: inline;
        height: $navbar-brand-font-size;
        vertical-align: text-top;
      }
		}
	}

	&#navbar-site {
		.navbar-nav > li > a {
			color: $navbar-site-link-color;
		}
	}

	&#mainNav {
		background-color: $navbar-main-bg-color;
    min-height: 0;

		ul.nav > li > a {
			color: $navbar-main-color;
		}
	}

  form[role="search"] input {
    width: 175px;
  }
}

