.navbar {
	background: none;
	border: none;
	border-radius: 0;

	&.navbar-default {
		background: none;
		box-shadow: none;

		.navbar-brand {
			font-family: $navbar-brand-font;
			font-size: $font-size-h2;
		}
	}

	&.navbar-top {
		margin-top: $navbar-margin-bottom;

		.navbar-nav > li > a {
			color: $navbar-top-link-color;
		}
	}

	&#mainNav {
		background-color: $navbar-main-bg-color;
    margin-bottom: 0;
    min-height: 0;

		ul.nav > li > a {
			color: $navbar-main-color;
		}
	}

  form[role="search"] input {
    width: 175px;
  }

  svg {
    height: $icon-size-base;
    left: 2px;
    margin-left: -2px;
    position: relative;
    top: -1px;
    vertical-align: top;
    width: $icon-size-base;

    line, circle {
      stroke: $navbar-top-link-color;
    }
  }
}

