.sidebar {
  margin: $sidebar-vertical-margin $navbar-padding-horizontal $sidebar-vertical-margin 0;

  // .affix makes position: fixed, so top to the sidebar's top position
  // relative to the document.
  &.affix {
    top: $header-height;
  }

  &.affix-bottom {
    position: relative;
  }
}
