.sidebar {
  margin: $sidebar-vertical-margin $navbar-padding-horizontal $sidebar-vertical-margin 0;

  // .affix makes position: fixed, so
  // we remove the top margin and set
  // top to the same value.
  &.affix {
    margin-top: 0;
    top: $sidebar-vertical-margin;
  }

  &.affix-bottom {
    position: relative;
  }
}
