ul {
  padding-left: 30px;

  li {
    margin-bottom: 8px;
  }
}

.navbar-nav li {
  margin-bottom: 0;
}

iframe, object, embed {
  max-width: 100%;
  width: 100%;
}

footer.imc-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: $gray-light;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

h3.section-header {
  border-bottom: 2px $imc-accent-color solid;
  padding-bottom: 6px;
}

h4 a.small {
  color: $link-color;
  margin-left: 6px;
}
