//== Colors
//

$solarized-base02:           #073642;
$solarized-base01:           #586e75;
$solarized-base00:           #657b83;
$solarized-base1:            #93a1a1;
$solarized-base2:            #eee8d5;
$solarized-base3:            #fdf6e3;
$solarized-yellow:     	 	   #b58900;
$solarized-orange:   			   #cb4b16;
$solarized-red:        			 #dc322f;
$solarized-magenta:   			 #d33682;
$solarized-violet:     			 #6c71c4;
$solarized-blue:       			 #268bd2;
$solarized-cyan:       			 #2aa198;
$solarized-green:      			 #859900;

$imc-accent-color:           #859900;
$imc-red:                    #c0504d;
$imc-orange:                 #e36c0a;
$imc-green:                  #345c0d;
$imc-green-light:            lighten($imc-green, 10%); // #94b64c
$imc-light-green:            #f2f7e7;

$link-color:                 $imc-green; // Bootstrap override


//== Typography
//
$font-size-base:             16px; // Bootstrap override

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // Imported from Bootstrap.
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // Imported from Bootstrap.
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // Imported from Bootstrap.
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // Imported from Bootstrap.
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // Imported from Bootstrap.

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:           1.428571429 !default; // 22/16; formula copied from Bootstrap
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:       floor($font-size-base * $line-height-base) !default; // ~22px; formula copied from Bootstrap

$font-family-sans-serif:     "Helvetica", sans-serif; // Bootstrap override

$icon-size-base:             $line-height-computed;
$icon-size-large:            ceil($icon-size-base * 1.272727); // 28px


//== Navs
//
$nav-link-hover-bg:          $imc-green-light;
$nav-link-padding-vertical:  10px;
$nav-link-padding:           $nav-link-padding-vertical 15px; // Bootstrap variable.
$nav-li-a-height:            ($line-height-computed + $nav-link-padding-vertical * 2);

//== Navbar
//
$navbar-default-brand-color: $imc-green; // Bootstrap override
$navbar-main-bg-color:       $imc-green;
$navbar-main-color:          #fff;

$navbar-height:              50px; // Bootstrap variable

//** Navbar Brand
$navbar-brand-font:             $font-family-sans-serif;
$navbar-brand-font-size:        $font-size-h2;
$navbar-brand-padding-vertical: (($navbar-height - $navbar-brand-font-size)/2);


//== Site Navbar
//
//** Website-level navbar.
$navbar-site-link-color:     $imc-green;

$navbar-margin-bottom:       $line-height-computed; // Bootstrap variable
$navbar-margin-vertical:     $navbar-margin-bottom;
$navbar-site-height:         ((2 * $navbar-margin-vertical) + $navbar-brand-font-size + (2 * $navbar-brand-padding-vertical));


//== Menu Navbar
//
$navbar-menu-height:         $nav-li-a-height;


//== Header
//
//## Comprises top portion that is on every page.

$header-height:              ($navbar-site-height + $navbar-menu-height);

//== Sidebar
//
$sidebar-vertical-margin:    $line-height-computed * 2;

//== Dropdowns
//
//## Dropdown menu container and contents.
//** Dropdown link text color.
$dropdown-link-color:        $link-color; // Bootstrap override
$dropdown-link-hover-color:  darken($dropdown-link-color, 5%); // Bootstrap override
